<form action="">
    <p>Titulo:</p>
    <input type="text" name="" id="titulo">
    <p>Conteudo</p>
    <textarea name="conteudo" id="" cols="30" rows="10"></textarea>
    <button type="submit">Cadastrar</button>

</form>